form{
    margin-top: 50px;
    padding: 4px; 
    text-align:center;
    width: 500px;
    margin-left: 32.5em;
}

#limpar:hover{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(44, 225, 238)),
        color-stop(0.85, rgb(44, 225, 238))
    );
}

html, body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}